# Compiled Object files
*.o
*.obj

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Dub files
.dub
dub.selections.json

# Dub test files
__test__library__

# Documentation
docs/
docs.json
__dummy.html

# Coverage files
*.lst

# Debug info
*.pdb

# Backup files
*~

# Test applications
tests/

#
platform/
